.buttonNext {
  cursor: pointer;
  width: 100px;
  height: 30px;
  background-color: $main-color-white;
  border-radius: 15px;
  border: 1px solid $main-color-hover-blue;
  transition: background-color 0.3s ease;

  &-create {
    margin: 300px 70px 0 0;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
  }

  &-join {
    margin: 300px 70px 0 0;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
  }

  &:hover {
    background-color: $main-color-hover-blue;
  }
}