.calendar {
  position: absolute;
  top: 10px;
  left: 60%;
  z-index: +1;
  font-family: 'Roboto', sans-serif;
  width: 450px;
  background-color: $main-color-white;
  border: 1px solid $main-color-blue;
  border-radius: 15px;
  opacity: 0;
  pointer-events: none;

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px 10px;
  }

  &__currentData {
    font-size: 28px;
    font-weight: 500;
  }

  &__iconn, .material-symbols-rounded {
    cursor: pointer;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    margin: 0 1px;
    border-radius: 50%;
  }

  &__iconn, .material-symbols-rounded:hover {
    background-color: $main-color-messagefield;
  }

  &__box {
    padding: 20px;
  }

  &__weeks {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;

    li {
      font-weight: 500;
      width: calc(100% / 7);
    }
  }

  &__days {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 20px;

    li {
      z-index: 1;
      position: relative;
      cursor: pointer;
      margin-top: 30px;
      width: calc(100% / 7);
    }

    li::before {
      position: absolute;
      z-index: -1;
      content: "";
      width: 40px;
      height: 40px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }

    li:hover::before {
      background-color: $main-color-messagefield;
    }

    &__inactive {
      color: $main-color-AIfield;
    }

    &__active {
      color: $main-color-white;
    }

    &__active::before {
      background-color: $main-color-blue !important;
    }
  }
}