$main-color-white: #fff;
$main-color-black: #000;
$main-color-hover-blue: #0096FF;
$main-color-blue: #0096FF;
$main-color-lightblue: #9AD5FF;
$main-color-lightblue2:rgb(45, 166, 252);
$main-color-buttons-menu: #D9B113;
$main-color-lessons: #D9D9D9;
$main-color-AIfield: #e2e2e2;
$main-color-messagefield: #D2D2D2;
$main-color-red: #f91f1f;
$main-color-lightred:#fa4646;
$main-color-icon: #eeeeee;
$main-color-gray: #757575;
$main-color-darkgray: #454545;
$main-color-green: #00bc1c;